body
{
  margin: 0;
  font-family: Arial;
}


.head
{
  box-sizing: border-box;
  float: left;
  width: 100%;
  padding: 24px 24px 0 24px;
  font-size: 14px;
}
.content
{
  float: left;
  text-align: center;
  margin-top: 217px;
  width: 100%;
}




.halb
{
  width: 50%;
  float: left;
}

.links
{
  text-align: left;
}

.rechts
{
  text-align: right;
}




.store
{
  margin-left: 15px;
}
.bilder
{
  margin-left: 15px;
}



.suche
{
  width: 580px;
  height: 44px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;

  border: 1px solid #dddddd;
  border-radius: 30px;
}

.suche:hover
{
  box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.15);
  border: 1px solid #fff;
}

.suche div
{
  float: left;
}

.suche-icon
{
  width: 8%;
}

.suche-icon img
{
  height: 13px;
  margin-top: 15px;
  margin-left:2px;
}

.suchfeld
{
  width: 84%;
  height: 100%;
}
.suchfeld input
{
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  border: none;
  outline: none;
}

.mikrofon
{
  width: 8%;
}
.mikrofon img
{
  height: 20px;
  margin-top: 12px;
  margin-right: 8px;
}




.buttons
{
  margin-top: 30px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.buttons input
{
  border: none;
  outline: none;
  background-color: none;
  border-radius: 3px;
  background-color: #f8f8fb;
  cursor: pointer;
  width:120px;
  height: 35px;
}
.buttons input:hover
{
  border: 1px solid #cccccc;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.07);
}




.textUnten
{
  float:left;
  width: 100%;
  margin-top: 10px;
  font-size: 13px;
}
.textUnten a
{
  text-decoration: none;
}
.textUnten a:hover
{
  text-decoration: underline;
}
